{% comment %}
Renders a product card

Accepts:
- card_product: {Object} Product Liquid object (optional)
- media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
- show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
- show_vendor: {Boolean} Show the product vendor. Default: false
- show_rating: {Boolean} Show the product rating. Default: false
- extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
- lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
- show_quick_add: {Boolean} Show the quick add button.
- section_id: {String} The ID of the section that contains this card.
- horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
- horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)

Usage:
{% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}

  <div class="arrival-item">
    <div class="arrival-inner-item">
      <div class="inner-content">
        <div class="wishlist">
          <h6>NEW</h6>
          <i class="far fa-heart"></i>
        </div>
      </div>
      <a
        href="{{ card_product.url }}"><img src="{{ card_product.featured_image.src | img_url: 'large' }}" alt=""></a>
    </div>
    <div class="arrival-content">
      <h3>
        <a href="{{ card_product.url }}">{{ card_product.title }}</h3>
      </a>
      <div class="rating">
        <ul>
          <li>
            <i class="fa fa-star"></i>
          </li>
          <li>
            <i class="fa fa-star"></i>
          </li>
          <li>
            <i class="fa fa-star"></i>
          </li>
          <li>
            <i class="fa fa-star"></i>
          </li>
          <li>
            <i class="fa fa-star"></i>
          </li>

        </ul>
      </div>

      <div class="price">
        {% if card_product.compare_at_price > card_product.price %}
          <span>{{ card_product.price | money }}</span>
          <del>{{ card_product.compare_at_price | money }}</del>
        {% else %}
          <span>{{ card_product.price | money }}</span>
        {% endif %}
      </div>

      <div class="arrival-btn">
        <a
          href="{{ card_product.url }}"
          class="btn-1"
          href="">DISCOVER</a>
      </div>
    </div>
  </div>



{%- endif -%}