
<section class="insta-sec">
    <div class="container-fluide">
        <div class="title text-center">
            <h3>{{ section.settings.title }}</h3>
        </div>
        <div class="insta-slider">

            {%- for block in section.blocks -%}
            <div class="insta-item">
                <div class="insta-img">
                   <a href="{{ block.settings.link_url }}"><img src="{{ block.settings.image_insta | img_url }}" alt=""></a>
                </div>
            </div>
          {%- endfor -%}
           
        </div>
        <div class="insta-btn text-center mt-5">
            <a class="btn-1" href="{{ section.settings.link_url }}">{{ section.settings.link_title }}</a>
        </div>
    </div>
</section>



{% schema %}
{
  "name": "Custom Instagram",
  "tag": "section",
  "class": "announcement-bar-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "link_title",
      "default": "Collections",
      "label": "Button Title"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Button Link"
    }
],
"blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_insta",
            "label": "Image insta"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link"
          }
          
        ]
      }
    ],
"presets": [
    {
      "name": "Custom Instagram",
      "blocks": [
          {
            "type": "column"
          },
          {
            "type": "column"
          },
          {
            "type": "column"
          },
          {
            "type": "column"
          }, 
          {
            "type": "column"
          }, 
          {
            "type": "column"
          }
        ]
    }
  ]
}
{% endschema %}
