<section class="contact-us-page">
    <div class="container">
        <div class="title text-center text-dark">
            <h3>{{ block.settings.title | escape }}</h3>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="contact-item">
                  {%- form 'contact', id: 'ContactForm', class: 'isolate contact' -%}
                    {%- if form.posted_successfully? -%}
                      <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                        {% render 'icon-success' %}
                        {{ 'templates.contact.form.post_success' | t }}
                      </h2>

                    {%- elsif form.errors -%}
                      <div class="form__message">
                        <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                          {% render 'icon-error' %}
                          {{ 'templates.contact.form.error_heading' | t }}
                        </h2>
                      </div>
                      <ul class="form-status-list caption-large" role="list">
                        <li>
                          <a href="#ContactForm-email" class="link">
                            {{ form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email }}
                          </a>
                        </li>
                      </ul>
                    {%- endif -%}

                    
                      <div class="row">
                        <div class="col-md-6">
                          <input
                            class="field__input"
                            autocomplete="name"
                            type="text"
                            id="ContactForm-name"
                            name="contact[{{ 'templates.contact.form.name' | t }}]"
                            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                            placeholder="{{ 'templates.contact.form.name' | t }}"
                          >
                        
                        </div>
                        <div class="col-md-6 field--with-error">
                          <input
                            autocomplete="email"
                            type="email"
                            id="ContactForm-email"
                            class="field__input"
                            name="contact[email]"
                            spellcheck="false"
                            autocapitalize="off"
                            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                            aria-required="true"
                            {% if form.errors contains 'email' %}
                              aria-invalid="true"
                              aria-describedby="ContactForm-email-error"
                            {% endif %}
                            placeholder="{{ 'templates.contact.form.email' | t }}"
                          >
                        
                          {%- if form.errors contains 'email' -%}
                            <small class="contact__field-error" id="ContactForm-email-error">
                              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                              <span class="form__message">
                                {%- render 'icon-error' -%}
                                {{- form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email -}}
                              </span>
                            </small>
                          {%- endif -%}
                        </div>
                                            
                                            <div class="col-md-6">
                        <input
                          type="tel"
                          id="ContactForm-phone"
                          class="field__input"
                          autocomplete="tel"
                          name="contact[{{ 'templates.contact.form.phone' | t }}]"
                          pattern="[0-9\-]*"
                          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                          placeholder="{{ 'templates.contact.form.phone' | t }}"
                        >
                        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
                                            </div>
                                            <div class="col-md-12">
                        <textarea rows="10" id="ContactForm-body" class="text-area field__input"
                          name="contact[{{ 'templates.contact.form.comment' | t }}]"
                          placeholder="{{ 'templates.contact.form.comment' | t }}"
                        >
                          {{- form.body -}}
                        </textarea>
                        
                                            </div>
                                            <div class="col-md-12">
                                            <div class="form1-btn">
                        <button type="submit" class="button">{{ 'templates.contact.form.send' | t }}</button>
                                            </div>
                                            </div>
                      </div>
                    </div>


                  {%- endform -%}
                    <form class="contact">
                        <div class="row">
                            <div class="col-md-6"><input type="text" placeholder="ENTER NAME:"></div>
                            <div class="col-md-6"><input type="text" placeholder="LAST NAME:"></div>
                            <div class="col-md-6"><input type="text" placeholder="ENTER EMAIL:"></div>
                            <div class="col-md-6"><input type="text" placeholder="ENTER PHONE:"></div>
                            <div class="col-md-12"><textarea placeholder="MESSAGE:"></textarea></div>
                            <div class="col-md-12">
                                <div class="form1-btn "><a class="btn-1 w-100 text-center" href="#">Submit Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Custom Contact",
  "tag": "section",
  "class": "announcement-bar-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "Title"
    }
],
"presets": [
    {
      "name": "Custom Contact"
    }
  ]
}
{% endschema %}
