<div class="footer-block--newsletter">
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                      {% render 'icon-arrow' %}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
            {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
            {% # theme-check-disable %}
              {{ shop | login_button: action: 'follow' }}
            {% # theme-check-enable %}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons' -%}
          {%- endif -%}
        </div>


        <footer class="footer" style="background-image: url(assets/images/best-seeller-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 ">
                    <div class="footer-info">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="Logo" />
                        </a>
                        <p>African Afro high-quality premium products are the innovation of Kimberly Jefferson, who was born
                            in Pensacola, FL. Kimberly is all too familiar with the daily struggles we all experience with
                            our hair. Spending endless hours battling unruly, frizzy, an</p>
                    </div>
                </div>
                <div class="col-12 col-lg-2 ">
                    <div class="footer__nav">
                        <h6>Quick Links</h6>
                        <ul>
                            <li><a href="#">Lorem Ipsum Dolor</a></li>
                            <li><a href="#">Lorem Ipsum Dolor</a></li>
                            <li><a href="#">Lorem Ipsum Dolor</a></li>
                            <li><a href="#">Lorem Ipsum Dolor</a></li>
                            <li><a href="#">Lorem Ipsum Dolor</a></li>
                            <li><a href="#">Lorem Ipsum Dolor</a></li>
    
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-3 ">
                    <div class="footer__nav">
                        <h6>Quick Links</h6>
                        <ul>
                            <li><a href="#">40 W. Nine Mile Rd #2 PMB171</a></li>
                            <li><a href="tel:850-660-3983">850-660-3983</a></li>
                            <li><a href="mailto:africanafroorganics@gmail.com">africanafroorganics@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="footer__nav">
                        <h6>Subscribe</h6>
                        <h5>We make non-annoying emails!<br>Pop Your Email & we’ll Prove It</h5>
                        <form action="#" class="footer-form">
                            <input type="email" placeholder="Enter Your Email">
                            <a class="btn-2" href="">Submit</a>
                        </form>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="footer__copyright">
                        <p>Copyrights © 2023 africanafro.com - All Rights Reserved.</p>
                        <div class="pay-img">
                            <a href="">
                                <img src="assets/images/copy-1.png" alt="">
    
                            </a>
                            <a href="">
                                <img src="assets/images/copy-2.png" alt="">
    
                            </a> <a href="">
                                <img src="assets/images/copy-3.png" alt="">
    
                            </a> <a href="">
                                <img src="assets/images/copy-4.png" alt="">
    
                            </a> <a href="">
                                <img src="assets/images/copy-5.png" alt="">
                            </a>
                            <a href="">
                                <img src="assets/images/copy-6.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    {% schema %}
      {
        "name": "Custom Footer",
        "tag": "section",
        "class": "footer-bar-section",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "default": "Collections",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "link_title",
            "default": "Collections",
            "label": "Button Title"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Button Link"
          }
      ],
      "presets": [
          {
            "name": "Custom Footer"
          }
        ]
      }
      {% endschema %}
      