<div class="banner inner-banner" style="background-image: url({% if section.settings.banner_img !=blank %}{{ section.settings.banner_img | img_url: 'master' }} {% else %}{{ 'main-banner.png' | asset_url }}{% endif %});">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-12">
                <div class="banner-content">
                  {% if section.settings.page_title !=blank %}
                    <h2>{{ section.settings.page_title }}</h2>
                  {% else %}
                    <h2>{{ page.title | escape }}<h2></h2>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %}
<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>  
{% endcomment %}


{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "text",
      "id": "page_title",
      "label": "Page Title"
    },
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "Banner Image"
    }
  ]
}
{% endschema %}
